/** @format */
.avatar__details {
  margin: 0 var(--space-32) 0;

  .avatar__detail {
    margin-bottom: var(--space-8);
  }
}

.avatar__profile-button {
  background-color: var(--colour-gray-3);
  border: 0;
  width: 80%;
  padding: var(--space-8);
  color: var(--colour-gray-8);
  cursor: pointer;
  transition: var(--link-transition);
  margin-top: var(--space-24);
  align-self: center;

  &:hover {
    background-color: var(--colour-primary);
    color: var(--text-colour-light);
  }
}

.filters__avatar {
  display: flex;
  flex-direction: column;
}

.gallery__filter-list {
  max-height: unset;
  margin-bottom: var(--space-32);
}

.gallery__sort {
  order: 2;
}
