/** @format */
:root {
  --add-dimension: 80px;
}

.stoat-index {
  padding: var(--space-32);
  text-align: center;
  min-height: 100vh;
}

.stoat-index__heading {
  font-size: var(--font-size-48);
  margin-bottom: var(--space-16);
}

.avatar-grid {
  display: grid;
  grid-template-columns: 100%;
}

.add-stoat-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  width: var(--add-dimension);
  height: var(--add-dimension);
  border-radius: 24px;
  background-color: rgba(58, 70, 54, 0.4);
}

.avatar-link:hover .avatar__wrapper {
  background-color: rgba(58, 70, 54, 0.4);
  border-radius: 48px;
}

.add-stoat-button {
  cursor: pointer;
  transform: translateY(-10px);

  &::after {
    content: "+";
    font-size: calc(var(--add-dimension) - 10px);
    font-weight: var(--font-weight-bold);
    color: var(--colour-primary-dark);
  }

  &:hover {
    &::after {
      color: var(--text-colour-light);
    }
  }
}

.create-stoat__wrapper {
  padding: var(--space-48);

  .modal__link {
    align-self: flex-start;
    margin-bottom: var(--space-8);
  }
}

.create-stoat__dropdown {
  background: #3a463650;
  color: var(--text-colour-light);
  width: 100%;
  padding: var(--space-8);
  font-size: var(--font-size-16);
  border: none;
  margin-bottom: var(--space-16);
}

.create-stoat__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.create-stoat__input {
  width: 100%;
  margin-bottom: var(--space-40);
  padding: var(--space-8);
  background-color: transparent;
  color: var(--text-colour-light);
  border: none;
  border-bottom: 4px solid var(--colour-secondary);
  font-size: var(--font-size-16);
}

.create-stoat__submit {
  width: fit-content;
}

.create-stoat__img-wrapper {
  display: flex;
  align-items: flex-start;
}
.create-stoat__img-upload {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  border: none;
  color: var(--colour-primary-dark);
  letter-spacing: 1px;
  background-color: var(--colour-gray-3);
  transition: var(--link-transition);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-16);

  &:hover {
    background-color: var(--colour-gray-6);
  }

  .create-stoat__img-preview {
    min-width: 110%;
    min-height: 110%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.create-stoat__remove-img {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.stoat-radio {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-bottom: var(--space-16);

  legend {
    font-weight: var(--font-weight-bold);
  }

  & > div {
    margin-left: var(--space-16);
  }
}

@media screen and (min-width: 481px) {
  .avatar-grid {
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 577px) {
  .stoat-radio {
    border: none;
    display: flex;
    padding: 0;
    margin-top: var(--space-16);
    margin-left: var(--space-40);

    legend {
      float: left;
    }
  }
}

@media screen and (min-width: 768px) {
  :root {
    --add-dimension: 140px;
  }

  .create-stoat__wrapper {
    margin-top: var(--space-48);
  }

  .avatar-grid {
    max-width: unset;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .stoat-index {
    padding: var(--space-72);
    text-align: left;
    display: flex;
  }
}

@media screen and (min-width: 1401px) {
  .stoat-index {
    max-width: 1350px;
    margin: 0 auto;
  }
}
